<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>records</key>
	<array>
		<dict>
			<key>jsonId</key>
			<real>1</real>
			<key>signerId</key>
			<real>61</real>
			<key>writingId</key>
			<real>1</real>
		</dict>
		<dict>
			<key>jsonId</key>
			<real>2</real>
			<key>signerId</key>
			<real>82</real>
			<key>writingId</key>
			<real>1</real>
		</dict>
		<dict>
			<key>jsonId</key>
			<real>3</real>
			<key>signerId</key>
			<real>2</real>
			<key>writingId</key>
			<real>2</real>
		</dict>
		<dict>
			<key>jsonId</key>
			<real>4</real>
			<key>signerId</key>
			<real>61</real>
			<key>writingId</key>
			<real>3</real>
		</dict>
		<dict>
			<key>jsonId</key>
			<real>5</real>
			<key>signerId</key>
			<real>1</real>
			<key>writingId</key>
			<real>4</real>
		</dict>
		<dict>
			<key>jsonId</key>
			<real>6</real>
			<key>signerId</key>
			<real>62</real>
			<key>writingId</key>
			<real>5</real>
		</dict>
		<dict>
			<key>jsonId</key>
			<real>7</real>
			<key>signerId</key>
			<real>62</real>
			<key>writingId</key>
			<real>6</real>
		</dict>
		<dict>
			<key>jsonId</key>
			<real>8</real>
			<key>signerId</key>
			<real>62</real>
			<key>writingId</key>
			<real>7</real>
		</dict>
		<dict>
			<key>jsonId</key>
			<real>9</real>
			<key>signerId</key>
			<real>62</real>
			<key>writingId</key>
			<real>8</real>
		</dict>
		<dict>
			<key>jsonId</key>
			<real>10</real>
			<key>signerId</key>
			<real>82</real>
			<key>writingId</key>
			<real>9</real>
		</dict>
		<dict>
			<key>jsonId</key>
			<real>11</real>
			<key>signerId</key>
			<real>65</real>
			<key>writingId</key>
			<real>10</real>
		</dict>
		<dict>
			<key>jsonId</key>
			<real>12</real>
			<key>signerId</key>
			<real>82</real>
			<key>writingId</key>
			<real>11</real>
		</dict>
		<dict>
			<key>jsonId</key>
			<real>13</real>
			<key>signerId</key>
			<real>101</real>
			<key>writingId</key>
			<real>12</real>
		</dict>
		<dict>
			<key>jsonId</key>
			<real>14</real>
			<key>signerId</key>
			<real>103</real>
			<key>writingId</key>
			<real>13</real>
		</dict>
		<dict>
			<key>jsonId</key>
			<real>15</real>
			<key>signerId</key>
			<real>1</real>
			<key>writingId</key>
			<real>14</real>
		</dict>
		<dict>
			<key>jsonId</key>
			<real>16</real>
			<key>signerId</key>
			<real>1</real>
			<key>writingId</key>
			<real>15</real>
		</dict>
		<dict>
			<key>jsonId</key>
			<real>17</real>
			<key>signerId</key>
			<real>1</real>
			<key>writingId</key>
			<real>16</real>
		</dict>
		<dict>
			<key>jsonId</key>
			<real>18</real>
			<key>signerId</key>
			<real>1</real>
			<key>writingId</key>
			<real>17</real>
		</dict>
		<dict>
			<key>jsonId</key>
			<real>20</real>
			<key>signerId</key>
			<real>1</real>
			<key>writingId</key>
			<real>19</real>
		</dict>
		<dict>
			<key>jsonId</key>
			<real>21</real>
			<key>signerId</key>
			<real>2</real>
			<key>writingId</key>
			<real>20</real>
		</dict>
		<dict>
			<key>jsonId</key>
			<real>22</real>
			<key>signerId</key>
			<real>2</real>
			<key>writingId</key>
			<real>21</real>
		</dict>
		<dict>
			<key>jsonId</key>
			<real>23</real>
			<key>signerId</key>
			<real>2</real>
			<key>writingId</key>
			<real>22</real>
		</dict>
		<dict>
			<key>jsonId</key>
			<real>24</real>
			<key>signerId</key>
			<real>61</real>
			<key>writingId</key>
			<real>23</real>
		</dict>
		<dict>
			<key>jsonId</key>
			<real>25</real>
			<key>signerId</key>
			<real>61</real>
			<key>writingId</key>
			<real>24</real>
		</dict>
		<dict>
			<key>jsonId</key>
			<real>26</real>
			<key>signerId</key>
			<real>82</real>
			<key>writingId</key>
			<real>25</real>
		</dict>
		<dict>
			<key>jsonId</key>
			<real>27</real>
			<key>signerId</key>
			<real>112</real>
			<key>writingId</key>
			<real>27</real>
		</dict>
		<dict>
			<key>jsonId</key>
			<real>28</real>
			<key>signerId</key>
			<real>61</real>
			<key>writingId</key>
			<real>28</real>
		</dict>
		<dict>
			<key>jsonId</key>
			<real>29</real>
			<key>signerId</key>
			<real>82</real>
			<key>writingId</key>
			<real>29</real>
		</dict>
		<dict>
			<key>jsonId</key>
			<real>30</real>
			<key>signerId</key>
			<real>80</real>
			<key>writingId</key>
			<real>31</real>
		</dict>
		<dict>
			<key>jsonId</key>
			<real>33</real>
			<key>signerId</key>
			<real>80</real>
			<key>writingId</key>
			<real>33</real>
		</dict>
		<dict>
			<key>jsonId</key>
			<real>34</real>
			<key>signerId</key>
			<real>80</real>
			<key>writingId</key>
			<real>34</real>
		</dict>
		<dict>
			<key>jsonId</key>
			<real>35</real>
			<key>signerId</key>
			<real>80</real>
			<key>writingId</key>
			<real>35</real>
		</dict>
	</array>
</dict>
</plist>
