<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>records</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>img_Boston.png</string>
			<key>jsonId</key>
			<real>1</real>
			<key>name</key>
			<string>Boston</string>
			<key>sortValue</key>
			<string>Boston</string>
			<key>stateId</key>
			<real>5</real>
		</dict>
		<dict>
			<key>imageName</key>
			<string>img_Philadelphia.png</string>
			<key>jsonId</key>
			<real>2</real>
			<key>name</key>
			<string>Philadelphia</string>
			<key>sortValue</key>
			<string>Philadelphia</string>
			<key>stateId</key>
			<real>10</real>
		</dict>
		<dict>
			<key>imageName</key>
			<string>img_New_York_City.png</string>
			<key>jsonId</key>
			<real>3</real>
			<key>name</key>
			<string>New York City</string>
			<key>sortValue</key>
			<string>New York City</string>
			<key>stateId</key>
			<real>4</real>
		</dict>
		<dict>
			<key>imageName</key>
			<string>img_Trenton.png</string>
			<key>jsonId</key>
			<real>4</real>
			<key>name</key>
			<string>Trenton</string>
			<key>sortValue</key>
			<string>Trenton</string>
			<key>stateId</key>
			<real>3</real>
		</dict>
		<dict>
			<key>imageName</key>
			<string>img_Yorktown.png</string>
			<key>jsonId</key>
			<real>5</real>
			<key>name</key>
			<string>Yorktown</string>
			<key>sortValue</key>
			<string>Yorktown</string>
			<key>stateId</key>
			<real>1</real>
		</dict>
		<dict>
			<key>imageName</key>
			<string>img_Lexington.png</string>
			<key>jsonId</key>
			<real>6</real>
			<key>name</key>
			<string>Lexington</string>
			<key>sortValue</key>
			<string>Lexington</string>
			<key>stateId</key>
			<real>5</real>
		</dict>
		<dict>
			<key>imageName</key>
			<string>img_Concord.png</string>
			<key>jsonId</key>
			<real>7</real>
			<key>name</key>
			<string>Concord</string>
			<key>sortValue</key>
			<string>Concord</string>
			<key>stateId</key>
			<real>5</real>
		</dict>
		<dict>
			<key>imageName</key>
			<string>img_Saratoga.png</string>
			<key>jsonId</key>
			<real>8</real>
			<key>name</key>
			<string>Saratoga</string>
			<key>sortValue</key>
			<string>Saratoga</string>
			<key>stateId</key>
			<real>4</real>
		</dict>
		<dict>
			<key>imageName</key>
			<string>img_West_Point.png</string>
			<key>jsonId</key>
			<real>9</real>
			<key>name</key>
			<string>West Point</string>
			<key>sortValue</key>
			<string>West Point</string>
			<key>stateId</key>
			<real>4</real>
		</dict>
	</array>
</dict>
</plist>
